<div class="card">
    <div class="image-wrapper" routerLink="/resorts/{{data.id}}">
        <img [src]="data.images[0].image_url"
            alt="Card Image">
        <span class="location">{{data.location}}</span>
    </div>
    <div class="card-content">
        <div class="card-info"  routerLink="/resorts/{{data.id}}">
            <h2 class="card-title">{{data.name.el}}</h2>
            <div class="badge {{data.status == 'Open' ? 'active' : 'inactive'}}"></div>
        </div>
        <i class="fa-solid {{isLiked ? 'liked' : ''}} fa-heart" (click)="isLiked = !isLiked"></i>
    </div>
</div>