<div class="dialog-container">
    <h1 class="login-title" [ngClass]="{'active': !isRegister}" (click)="isRegister = false">Login</h1>
    <h1 class="login-title" [ngClass]="{'active': isRegister}" (click)="isRegister = true">Register</h1>

    <hr>

    <form class="login-form" [formGroup]="loginForm">
        <div class="form-group" [ngClass]="{'hidden': !isRegister}">
            <label for="email">Name</label>
            <input type="text" class="form-control" formControlName="name">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="email">
        </div>
        
        <div class="form-group">
            <label for="email">Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        
    </form>
    
    <div class="form-button">
        <button *ngIf="!isRegister" (click)="login()">Login</button>
        <button *ngIf="isRegister" (click)="register()">Register</button>
    </div>
</div>